.body-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subittle{
    color: var(--color-cherry);
    font-weight: 500;
}